{% extends 'base.twig' %}
{% block content %}

    <form method="post">

    {% include 'messages.twig' with { 'status': messages.status, 'text': messages.text } %}

    {% for section in sections %}

        {% if section.section_title is not empty %}

        <h2>{{ section.section_title }}</h2>
            <input type="hidden" value="{{ section.section_title }}" name="section[][section_title]" />

            {% set section_loop = loop.index %}

            {% for stanza in section.content %}

                {% if stanza.stanza_title %}

                    <h4>{{ stanza.stanza_title }}</h4>
                    <input type="hidden" value="{{ stanza.stanza_title }}" name="section[][content][stanza_title]" />
                    <textarea rows="8" class="form-control" name="section[][content][stanza_body]">{{ stanza.stanza_body }}</textarea>

                {% endif %}

            {% endfor %}

        {% endif %}

    {% endfor %}

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

{% endblock %}
