<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between">
    <a class="navbar-brand" href="{{ baseurl }}">EZproxy Editor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ baseurl }}/new">Add New Stanza</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ baseurl }}">Edit EZProxy Config File</a>
                    <a class="dropdown-item" href="{{ baseurl }}/preview">Preview EZProxy Config File</a>
                    <a class="dropdown-item" href="{{ baseurl }}/validate">Validate EZProxy Config File</a>
                    <a class="dropdown-item" href="{{ baseurl }}/write">Write EZProxy Config File</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ baseurl }}/upload">Upload to EZproxy server</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#revert">Revert EZproxy config file</a>
                    <a class="dropdown-item" href="#reboot">Reboot EZproxy server</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">EZproxy Admin</a>
                </div>
            </li>

        </ul>
        <span class="navbar-text">
            <i class="fa fa-user-circle-o"></i> Hello {{ user }} | <a href="?logout=">logout</a>
    </span>
    </div>
</nav>