
        <div class="bd-toc-item">

            <div data-target="#menu{{ loop.index -1 }}" class="bd-toc-link" data-toggle="collapse">
                <h5>{{ section.section_title }}</h5>
                <input type="hidden" value="{{ section.section_title }}" name="section[{{ loop.index -1 }}][section_title]" />

            </div>

            <ul class="collapse" id="menu{{ loop.index -1 }}" data-parent="#sidebar">

                {% set section_loop = loop.index -1 %}

                {% for stanza in section.content %}

                {% if stanza.stanza_title %}

                <li id="stanza-{{ section_loop }}_{{ loop.index -1 }}">
                <a href="javascript:void(0)" class="" data-parent="#menu{{ section_loop }}">
                    {{ stanza.stanza_title | trim | raw }}
                </a>

                <input class="stanza_title" type="hidden" value="{{ stanza.stanza_title }}" name="section[{{ section_loop }}][content][][stanza_title]" />
                <input class="stanza_body" type="hidden" name="section[{{ section_loop }}][content][{{ loop.index -1 }}][stanza_body]" value="{{ stanza.stanza_body }}" />

                </li>

                {% endif %}


                {% endfor %}


            </ul>

        </div>







